

<br/>
<br/>
<br/>
<br/>
<div align="center">
	 <h3>Topics</h3>
 
 	<div align="left">
 	<table >
 	    <tr >
  		  <th >Computer Science Subjects</th>
  		  <th>Engineering Mathematics</th>
  		  <th>Aptitude</th>
  	   </tr>
  	   <tr>
  	    <td><a href="#/digitallogic">Digital Logic</a></td>  
  	     <td><a href="#/mathematicallogic">Mathematical Logic</a></td>	    
  	   </tr>
  	   <tr>
  	    <td><a href="#/coa">Computer Organization and Architecture</a></td> 
  	     <td><a href="#/probability">Probability</a></td> 	    
  	   </tr>
  	   <tr>
  		 <td><a href="#/progds">Programming and DS</a></td>
  		 <td><a href="#/settheory">Set Theory and Algebra</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/algorithms">Algorithms</a></td>
  		  <td><a href="#/combinatorics">Combinatorics</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/toc">Theory of Computation</a></td>
  		  <td><a href="#/graphtheory">Graph Theory</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/compilerdesign">Compiler Design</a></td>
  		  <td><a href="#/linearalgebra">Linear Algebra</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/os">Operating System</a></td>
  		  <td><a href="#/numericalmethods">Numerical Methods</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/database">Databases</a></td>
  		  <td><a href="#/calculus">Calculus</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/computernetwork">Computer Newtworks</a></td>
  	   </tr>
  	   <tr>
  		 <td><a href="#/webtech">Web Technologies</a></td>
  	   </tr>
  	     <tr>
  		 <td><a href="#/informationssystem">Information System and Software</a></td>
  	   </tr>
  	  	</table>
	</div>
</div>


